{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}



{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address: House#70 Road#03 ,Mohammadia Housing Limited, Mohammadpur ,Dhaka-1207            
        </p>
        <p class="fs-4 text-center">Contact: 01743780943</p>
        <p class="fs-4 text-center">Email: dfs_ventures@gmail.com</p>

    </div>

</div>
<br><br><br>
{% endblock main-content %} 